@charset "utf-8";


.ui-button_S40button {
      background-image: url(../images/title-bar.png);
      background-repeat: repeat;
      background-position: left top;
      height: 18px;
      padding-right: 8px;
      padding-left: 8px;
      color: #FFF;
      text-decoration: none;
      margin: 5px;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-color: #459c32;
      border-right-color: #327025;
      border-bottom-color: #327025;
      border-left-color: #459c32;
}