/***************************************************
 * bitbook_style.css
 * 
 * Stylesheet for Bit Books
 * Nokia Asha Hackathon
 * 
 * Jaskirat Singh
 * 8 March, 2013
 *
 ***************************************************/
		
@charset "utf-8";

.bb_text_field {
	height: 30px;
	width: 200px;
	margin-top: 8px;	
}

.bb_item_title {
	font-size: medium;
	font-weight: bold;
}

.bb_title {
	text-align:center;
	color: white;
}

.bb_search_item_image {
	margin-right: 12px;
	margin-left: 7px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 52px;
	height: 80px;
}

.bb_separator {
	/*border-bottom: 1px solid;*/
	padding-bottom: 7px;
}

.bb_item_first {
	padding-top: 5px;
}

table#results_table {
	border-collapse:collapse;
	width: 240px;
}

table#results_table tbody:nth-child(even) {
	background: #EBEBEB;
}
table#results_table tbody:nth-child(odd) {
	background: #FFF;
}

/* CSS for the description pages */

.bb_desc_table {
	width: 240px;
}

.bb_desc_title {
	font-size: large;
	padding: 5px;
}

.bb_desc_author {
	font-size: medium;
	padding: 0px 0px 8px 5px;
}

.bb_desc_rating {
	padding: 10px 0px 5px 5px;
}

.bb_desc_image {
	padding: 0px 0px 8px 8px;
	width: 88px;
	height: 134px;
}

.bb_desc_pages {
	font-size: medium;
	padding-left: 5px;
}

.bb_desc_pub {
	padding: 3px 6px 4px 5px;
}

.bb_isbn_label {
	padding: 0px 0px 0px 5px;
}

.bb_isbn_isbn {
	padding: 0px 6px 5px 5px;
	font-size: medium;
}

.bb_desc_button {
	padding: 0px 0px 8px 25px;
}

.bb_desc_label {
	padding: 8px;
	font-size: medium;
	background: #D3D3D3;
}

.bb_desc_desc {
	padding: 6px;
	font-size: medium;
	line-height: 1.3;
	text-align: left;
}